<!-- Elektryka Section -->
<div id="elektryka-section" class="section d-none">
    <h2>Elektryka</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-warning">
                <div class="card-header">
                    <h5>Podstawy elektryki</h5>
                </div>
                <div class="card-body">
                    <p>Fundamentalne pojęcia i prawa elektryki.</p>
                    <ul>
                        <li>Prawo Ohma</li>
                        <li>Prąd elektryczny</li>
                        <li>Napięcie</li>
                        <li>Opór elektryczny</li>
                        <li>Moc elektryczna</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-danger">
                <div class="card-header">
                    <h5>Bezpieczeństwo</h5>
                </div>
                <div class="card-body">
                    <p>Zasady bezpieczeństwa przy pracy z instalacjami elektrycznymi.</p>
                    <ul>
                        <li>Ochrona przed porażeniem</li>
                        <li>Wyłączniki różnicowo-prądowe</li>
                        <li>Uziemienie</li>
                        <li>Klasyfikacja środowiska</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-info">
                <div class="card-header">
                    <h5>Instalacje domowe</h5>
                </div>
                <div class="card-body">
                    <p>Praktyczne aspekty instalacji elektrycznych w domach.</p>
                    <ul>
                        <li>Rozdzielnie</li>
                        <li>Obwody oświetleniowe</li>
                        <li>Gniazdka</li>
                        <li>Instalacje specjalne</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-secondary">
                <div class="card-header">
                    <h5>Pomiary elektryczne</h5>
                </div>
                <div class="card-body">
                    <p>Narzędzia i metody pomiarów elektrycznych.</p>
                    <ul>
                        <li>Multimetry</li>
                        <li>Mierniki izolacji</li>
                        <li>Mierniki uziemień</li>
                        <li>Oscyloskopy</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-success">
                <div class="card-header">
                    <h5>Automatyka</h5>
                </div>
                <div class="card-body">
                    <p>Systemy automatyki i sterowania.</p>
                    <ul>
                        <li>Sterowniki PLC</li>
                        <li>Czujniki</li>
                        <li>Przekaźniki</li>
                        <li>Systemy SCADA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>