<!-- Testowanie oprogramowania Section -->
<div id="testowanie-section" class="section d-none">
    <h2>Testowanie oprogramowania</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h5>Automatyczne testowanie</h5>
                </div>
                <div class="card-body">
                    <p>Narzędzia i techniki automatycznego testowania oprogramowania.</p>
                    <ul>
                        <li>Unit testing</li>
                        <li>Integration testing</li>
                        <li>End-to-end testing</li>
                        <li>Performance testing</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-info">
                <div class="card-header">
                    <h5>Manualne testowanie</h5>
                </div>
                <div class="card-body">
                    <p>Metodyki i proces manualnego testowania aplikacji.</p>
                    <ul>
                        <li>Eksploracyjne testowanie</li>
                        <li>Testowanie funkcjonalne</li>
                        <li>Testowanie użyteczności</li>
                        <li>Testowanie bezpieczeństwa</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">
                    <h5>Narzędzia testowe</h5>
                </div>
                <div class="card-body">
                    <p>Przegląd najpopularniejszych narzędzi do testowania oprogramowania:</p>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Frontend</h6>
                            <ul>
                                <li>Selenium</li>
                                <li>Cypress</li>
                                <li>Playwright</li>
                                <li>Jest</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h6>Backend</h6>
                            <ul>
                                <li>Postman</li>
                                <li>RestAssured</li>
                                <li>Newman</li>
                                <li>Pytest</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h6>Performance</h6>
                            <ul>
                                <li>JMeter</li>
                                <li>K6</li>
                                <li>Artillery</li>
                                <li>Gatling</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>